html {
  font-family: monospace;
  font-size: 30px;
}

table {
  /* таблица по середине */
  margin: 0 auto;
  text-align: center;
}

th {
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
}